.entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("01.jpg");
}

.home {
    display: block;
    margin: auto;
}

.name {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: center;
}

.nameLabel {
    margin-right: 5px;
    font-size: 20px;
}

.nameInput {
    width: 275px;
    height: 30px;
}

#entryContent {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.deleteEntry {
    display: block;
    margin: auto;
}