.Header {
    height: 60px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .head a {
    text-decoration: none;
    font-size: 40px;
    font-family: 'Rochester', cursive;
    color: rgb(6,106,117);
  }
  
  @media screen and (min-width: 450px) {

  }