.journalEntry {
    border: solid rgb(7,123,136) 3px;
    background-color: rgb(241,221,210);
    margin-top: 5px;
    width: 250px;
}

.journalEntry a {
    color: rgb(7,123,136);
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 25px;
    margin-left: 5px;
}

.journalEntry a:hover {
    color: rgb(251,159,139);
}

.journalEntry_delete {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 15px;
    color: rgb(241,221,210);
    display: block;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(7,123,136);
    border: solid 2px rgb(107,182,188);
    padding: 3px 8px 3px 8px;
}

.date {
    font-family: 'Playfair Display', serif;
    font-size: 14pt;
    margin: 5px;
}

@media screen and (min-width: 450px) {
    .journalEntry {
        width: 300px;
    }
}