.disription {
    border: solid rgb(7,123,136) 3px;
    background-color: rgb(241,221,210);
    width: 250px;
    margin: 10px;;
}

.descripText {
    font-family: 'Playfair Display', serif;
    margin: 10px;
}