@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rochester&display=swap');

body {
    margin: 0px;
    background-color: rgb(241,221,210);
    background-image: url("12.jpg");
}

.mainBody {
    position: relative;
    min-height: 100%;
    padding-bottom: 40px;
}

.mainHeader {
    display: flex;
    justify-content: center;
    align-items: center;/* vertical alignment */
    background-color: rgb(241,221,210);
    border-bottom: solid 7px rgb(6,106,117);
}

.mainFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;;
}

.home {
    display: block;
    margin: auto;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: rgb(6,106,117);
}



.home a:hover {
    font-size: 25px;
    color: rgb(6,106,117);
}

.home a:visited {
    color: rgb(6,106,117);
}

@media screen and (min-width: 450px) {

}
