body {
    margin: 0px;
    background-color: rgb(241,221,210);
}

footer {
    background-color: cadetblue;
    margin-top: 10px;
    height: 50px;
    text-align: center;
}

.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;/* vertical alignment */
    margin-left: 20px;
    margin-right: 20px;
}
